<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name=" Toyota Regression" preserve-order="true" parallel="instances"
	thread-count="10">
	<listeners>
		<listener class-name="com.automation.core.listeners.CustomReporter" />
	</listeners>

	<test name="GlobalNav" preserve-order="true">
		<groups>
			<run>
				<include name="globalnav" />
			</run>
		</groups>
		<classes>
			<class name="com.test.TOY_13613_GlobalNav_SelectVehicle_Category_Vehicles" />
		</classes>
	</test>
</suite>
